
<div class="d-flex flex-column justify-content-center align-items-center mx-auto my-5 p-5 border border-2 border-primary rounded-4" style="width:60vh">
  <h1>Create New List</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create List", class: "btn btn-primary" %>
  <% end %>
</div>
